* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1080px;
    margin: auto;
    /* border: 2px solid black; */
    height: 100%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.btn {
    background-color: white;
    color: #ff7a59;
    border: 1px solid #ff7a59;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

.btn-secondary {
    background-color: #ff7a59;
    color: #FFFFFF;
}

/* HEADER TOP */
.header-top {
    height: 90px;
    background-color: #F5F8FA;
    border-bottom: 1px solid #cbd6e2;
}

.header-top .header-top-left {
    width: 50%;
    height: 100%;
    float: left;
    color: rgb(51, 71, 91);
}

.header-top .header-top-left span:first-of-type::after {
    content: '';
    border-right: 2px solid #cbd6e2;
    margin: 0 20px;
}

.header-top .header-top-left i {
    margin-right: 10px;
}

.header-top .header-top-left span {
    display: inline-block;
    line-height: 90px;
    font-weight: 500;
}

.header-top .header-top-right {
    width: 50%;
    height: 100%;
    float: left;
    text-align: right;
}

.header-top .header-top-right i {
    margin-right: 50px;
    color: #00A4BD;
    cursor: pointer;
}

.header-top .header-top-right a:first-of-type {
    margin-top: 25px;
    margin-right: 10px;
    display: inline-block;
}
/* END HEADER TOP */

/* HEADER BOTTOM */
.header-bottom {
    height: 90px;
    background-color: #FFFFFF;
}

.header-bottom .header-bottom-left {
    width: 35%;
    height: 100%;
    /* background-color: red; */
    float: left;
}

.header-bottom .header-bottom-left img {
    margin-top: 30px;
}

.header-bottom .header-bottom-right {
    width: 65%;
    height: 100%;
    float: left;
}

#info {
    text-align: right;
}

#info li {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 90px;
    padding: 0 20px;
}

#info li:last-of-type {
    padding-right: 0;
}

#info li a {
    text-decoration: none;
    color: rgb(51, 71, 91);
}
/* END HEADER BOTTOM */


/* HOME SECTION */
.home {
    height: 650px;
    background-color: #FFF5EF;
}

.home .grow {
    width: 40%; 
    height: 100%;
}

.home .grow h1 {
    font-size: 40px;
    font-weight: 900;
    color: rgb(51, 71, 91);
    padding: 100px 0 35px;
}

.home .grow p {
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    color: rgb(51, 71, 91);
    margin-bottom: 35px;
}

.home .grow a {
    display: inline-block;
    padding: 25px 30px;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.home .grow p:last-of-type {
    font-size: 14px;
}

/* END HOME SECTION */


.powerfull {
    height: 900px;
    background-color: #F5F8FA;
}

.powerfull-top .powerfull-top-left {
    height: 300px;
    width: 33%;
    float: left;
    background-color: red;
}

.powerfull-top .powerfull-top-right {
    height: 300px;
    width: 66%;
    float: left;
    background-color: blue;
}

.powerfull-bottom .powerfull-bottom-left {
    height: 600px;
    width: 33%;
    float: left;
    background-color: red;
}

.powerfull-bottom .powerfull-bottom-center {
    height: 600px;
    width: 33%;
    float: left;
    background-color: blue;
}

.powerfull-bottom .powerfull-bottom-right {
    height: 600px;
    width: 33%;
    float: left;
    background-color: green;
}

.learn {
    height: 900px;
    background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}

.learn .learn-top {
    height: 400px;
    background-color: red;
}

.learn .learn-bottom {
    height: 500px;
    background-color: rgba(255, 0, 0, 0.513);
}

.stat {
    height: 1000px;
    background-color: #FFFFFF;
}

.stat .stat-top-left {
    height: 400px;
    width: 45%;
    background-color: red;
    float: left;
}

.stat .stat-top-right {
    height: 400px;
    width: 55%;
    background-color: blue;
    float: left;
}

.stat .stat-bottom-left {
    height: 600px;
    width: 55%;
    background-color: red;
    float: left;
}

.stat .stat-bottom-right {
    height: 600px;
    width: 45%;
    background-color: blue;
    float: left;
}

footer {
    background-color: #33475b;
    height: 800px;
}













