* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1080px;
    margin: auto;
    height: 100%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.btn {
    background-color: white;
    color: #ff7a59;
    border: 1px solid #ff7a59;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

.btn-secondary {
    background-color: #ff7a59;
    color: #FFFFFF;
}

/* HEADER TOP */
.header-top {
    background-color: #F5F8FA;
    border-bottom: 1px solid #cbd6e2;
    position: fixed;
    /* IMPORTANTE DARE LA WIDTH */
    width: 100%;
    z-index: 1;
}

.header-top .header-top-left {
    width: 50%;
    float: left;
    color: rgb(51, 71, 91);
}

.header-top .header-top-left i {
    line-height: 90px;
    margin-right: 10px;
}

ul#english {
    display: inline-block;
}

.header-top .header-top-left li {
    display: inline-block;
}

.header-top .header-top-left li:first-of-type::after {
    content: '';
    border-right: 2px solid #cbd6e2;
    margin: 0 20px;
}

.header-top .header-top-left li a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(51, 71, 91);
}

.header-top .header-top-right {
    width: 50%;
    float: left;
    text-align: right;
}

.header-top .header-top-right i {
    margin-right: 50px;
    color: #00A4BD;
    cursor: pointer;
}

.header-top .header-top-right a:first-of-type {
    margin-top: 25px;
    margin-right: 10px;
    display: inline-block;
}
/* END HEADER TOP */

/* HEADER BOTTOM */
.header-bottom {
    /* il padding mi serve per la position fixed di header-top */
    padding-top: 90px;
}

.header-bottom .header-bottom-left {
    width: 40%;
    float: left;
}

.header-bottom .header-bottom-left img {
    padding-top: 30px;
}

.header-bottom .header-bottom-right {
    width: 60%;
    float: left;
}

ul#info {
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    line-height: 90px;
}

#info li {
    display: inline-block;
    padding: 0 20px;
}

#info li:last-of-type {
    padding-right: 0;
}

#info li a {
    text-decoration: none;
    color: rgb(51, 71, 91);
}
/* END HEADER BOTTOM */


/* HOME SECTION */
.home {
    height: 750px;
    background-image: url(img/Background-r.png);
    background-position: center;
    background-size: cover;
}

.home .grow {
    width: 40%;
}

.home .grow h1 {
    font-size: 40px;
    font-weight: 900;
    color: rgb(51, 71, 91);
    padding: 100px 0 35px;
}

.home .grow p {
    font-size: 19px;
    font-weight: 100;
    line-height: 30px;
    color: rgb(51, 71, 91);
    padding-bottom: 35px;
}

.home .grow a {
    display: inline-block;
    padding: 25px 30px;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 20px;
}

.home .grow p:last-of-type {
    font-size: 14px;
    line-height: 20px;
}

/* END HOME SECTION */


/* POWERFULL SECTION */

/* POWERFULL TOP */
.powerfull {
    background-color: #F5F8FA;
}

.powerfull-top .powerfull-top-left {
    width: 33%;
    float: left;
    margin-right: 1%;
}

.powerfull-top .powerfull-top-left h1 {
    font-size: 30px;
    font-weight: 900;
    color: rgb(51, 71, 91);
    margin: 60px 0 20px;
}

.powerfull-top .powerfull-top-left p {
    font-size: 19px;
    font-weight: 100;
    line-height: 30px;
    color: rgb(51, 71, 91);
}

.powerfull-top .powerfull-top-right {
    width: 66%;
    float: left;
}

.powerfull-top-right .card {
    padding-bottom: 70px;
}

.card {
    width: 100%;
    height: 80%;
    margin-top: 60px;
    background-color: #FFFFFF;
    color: rgb(51, 71, 91);
    padding: 40px 20px;
    position: relative;
    box-shadow: 0 0 20px #eaf0f6;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.02, 1.02);
}

.card img {
    vertical-align: middle;
}

.card h4 {
    display: inline-block;
    font-weight: 600;
    font-size: 22px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.card p {
    color: rgba(51, 71, 91, 0.85);
}

.card p:first-of-type {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 30px;
}

.card p:nth-of-type(2) { /*POPULAR FEATURES*/
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    margin-bottom: 20px;
}

.powerfull-top-right .card p:nth-of-type(2)::after {
    content: '';
    position: absolute;
    height: 5px;
    border-bottom: 1px solid rgba(153,172,194,0.2);
    top: 4px;
    right: 20px;
    width: 70%;
}

.card #popular {
    font-size: 15px;
    font-weight: 500;
}

.card #popular li {
    display: inline-block;
    padding-right: 20px; 
}

.card #popular li i {
    color: #FF7A59;
    margin-right: 8px;
}

.powerfull-top-right .card .single {
    position: absolute;
    right: 40px;
}

.powerfull-top-right .card .single a {
    padding: 15px 90px;
}
/* END POWERFULL TOP */

/* POWERFULL BOTTOM */
.powerfull-bottom .card {
    margin-top: 15px;
    margin-bottom: 100px;
}

.powerfull-bottom .card p:nth-of-type(2) {
    border-top: 1px solid rgba(153,172,194,0.2);
    padding-top: 30px;
}

.powerfull-bottom-left, .powerfull-bottom-center {
    margin-right: 2%;
}

.powerfull-bottom-left, .powerfull-bottom-center, .powerfull-bottom-right {
    width: 32%;
    float: left;
}

.card #first li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
}

.card #first li i {
    color: #FF7A59;
    margin-right: 8px;
}

.powerfull-bottom-left .card a, .powerfull-bottom-center .card a, .powerfull-bottom-right .card a {
    display: block;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}
/* END POWERFULL BOTTOM */
/* END POWERFULL SECTION */


/* LEARN SECTION */
.learn {
    background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}

.learn-bottom {
    padding-bottom: 150px;
}

.learn-titles {
    width: 65%;
    margin: auto;
    text-align: center;
    color: #FFFFFF;
}

.learn-titles h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    padding-top: 100px;
    padding-bottom: 40px;
}

.learn-titles p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 80px;
}


.learn-row-item {
    width: 25%;
    height: 40%;
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 30px 50px;
}

.learn-row-item:not(:last-child) {
    border-right: 1px solid #FFFFFF;
}

.learn-row:first-child .learn-row-item {
    border-bottom: 1px solid #FFFFFF;
}

.learn-row-item img {
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.learn-row-item h2 {
    font-size: 45px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-right: 10px;
}

.learn-row-item h2::after {
    content: '+';
    display: inline-block;
    position: absolute;
    top: 30%;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
/* END LEARN SECTION*/


/* STAT SECTION */

/* STAT TOP */
.stat {
    background-color: #FFFFFF;
}

.stat-top-left {
    color: rgb(51, 71, 91);
}

.stat .stat-top-left {
    width: 45%;
    float: left;
}

.stat-top-left div {
    width: 70%;
    padding-top: 20%;
    padding-bottom: 30%;
}

.stat-top-left h2 {
    font-size: 45px;
}

.stat-top-left p {
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}

.stat-top-left p span {
    font-weight: bold;
}

.stat .stat-top-right {
    width: 55%;
    float: left;
}

.stat-top-right div {
    text-align: right;
}

.stat-top-right div.first-row {
    padding-top: 8%;
}

.stat-top-right img {
    width: 140px;
    vertical-align: middle;
    padding-top: 40px;
}

.stat-top-right img:not(:last-of-type) {
    padding-right: 30px;
}
/* END STAT TOP */


/* STAT BOTTOM */
.stat .stat-bottom-left {
    width: 55%;
    float: left;
    margin-bottom: 140px;
}

.stat-bottom-left div {
    width: 80%;
    color: rgb(51, 71, 91);
}

.stat-bottom-left div h2 {
    font-size: 30px;
    font-weight: 700;
    padding: 20px 0;
}

.stat-bottom-left div p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0;
}

.stat-bottom-left div a {
    display: inline-block;
    padding: 25px 30px;
    margin-bottom: 30px;
}

.stat-bottom-left div small {
    display: block;
}

.stat .stat-bottom-right {
    width: 45%;
    float: left;
}

.stat-bottom-right div {
    text-align: right;
}

.stat-bottom-right div img {
    width: 350px;
}
/*END STAT SECTION*/

footer {
    background-color: #33475b;
}

footer .list-item {
    display: inline-block;
    margin-top: 100px;
    width: 24.5%;
}

footer .list-item h6 {
    font-size: 18px;
    color: #FFFFFF;
}

footer li {
    list-style: none;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 0;
}

footer .list-item a {
    color: rgb(203, 214, 226);
    text-decoration: none;
}

footer .list-item a:hover {
    color: #7fd1de;
}

footer .list-item-container .support {
    text-align: right;
    margin: 30px 70px;
}

footer .list-item-container .support .btn {
    background-color: #FFFFFF;
    color: black;
    border: none;
    font-size: 14px;
    padding: 15px 20px;
}

footer .social {
    text-align: right;
    font-size: 20px;
}

footer .social i {
    padding: 10px 13px;
}

footer .social a {
    color: #FFFFFF;
}

footer .social i:hover, footer .language a:hover, footer .legal a:hover {
    color: #7fd1de;
}

footer .language {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer .language a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
}

footer hr {
    border:0.5px solid #7C98B6;
    margin-bottom: 50px;
}

footer .copyright {
    float: left;
}

footer .copyright small {
    display: block;
    color: #cbd6e2;
    margin-top: 20px;
}

footer .legal {
    float: right;
    padding-bottom: 100px;
}

footer .legal a {
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 50px;
    font-size: 18px;
    font-weight: 600;
}

/* HELP CHAT  */
.help-chat {
    display: inline-block;
    position: fixed;
    bottom: 2%;
    right: 1%;
}

.help-chat div {
    display: inline-block;
    background-color: #425B76;
    border-radius: 100px;
    height: 70px;
    width: 70px;
}

.help-chat img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}













