* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1080px;
    margin: auto;
    /* border: 2px solid black; */
    height: 100%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.btn {
    background-color: white;
    color: #ff7a59;
    border: 1px solid #ff7a59;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

.btn-secondary {
    background-color: #ff7a59;
    color: #FFFFFF;
}

/* HEADER TOP */
.header-top {
    background-color: #F5F8FA;
    border-bottom: 1px solid #cbd6e2;
    position: fixed;
    /* IMPORTANTE DARE LA WIDTH */
    width: 100%;
    z-index: 1;
}

.header-top .header-top-left {
    width: 50%;
    height: 100%;
    float: left;
    color: rgb(51, 71, 91);
}

.header-top .header-top-left span:first-of-type::after {
    content: '';
    border-right: 2px solid #cbd6e2;
    margin: 0 20px;
}

.header-top .header-top-left i {
    margin-right: 10px;
}

.header-top .header-top-left span {
    display: inline-block;
    line-height: 90px;
    font-weight: 500;
}

.header-top .header-top-right {
    width: 50%;
    height: 100%;
    float: left;
    text-align: right;
}

.header-top .header-top-right i {
    margin-right: 50px;
    color: #00A4BD;
    cursor: pointer;
}

.header-top .header-top-right a:first-of-type {
    margin-top: 25px;
    margin-right: 10px;
    display: inline-block;
}
/* END HEADER TOP */

/* HEADER BOTTOM */
.header-bottom {
    padding-top: 90px;
    background-color: #FFFFFF;
}

.header-bottom .header-bottom-left {
    width: 40%;
    height: 100%;
    /* background-color: red; */
    float: left;
}

.header-bottom .header-bottom-left img {
    margin-top: 30px;
}

.header-bottom .header-bottom-right {
    width: 60%;
    height: 100%;
    float: left;
}

#info {
    text-align: right;
}

#info li {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 90px;
    padding: 0 20px;
}

#info li:last-of-type {
    padding-right: 0;
}

#info li a {
    text-decoration: none;
    color: rgb(51, 71, 91);
}
/* END HEADER BOTTOM */


/* HOME SECTION */
.home {
    height: 650px;
    background-image: url(img/Background-r.png);
    background-position: center;
}

.home .grow {
    width: 40%; 
    height: 100%;
}

.home .grow h1 {
    font-size: 40px;
    font-weight: 900;
    color: rgb(51, 71, 91);
    padding: 100px 0 35px;
}

.home .grow p {
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    color: rgb(51, 71, 91);
    margin-bottom: 35px;
}

.home .grow a {
    display: inline-block;
    padding: 25px 30px;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.home .grow p:last-of-type {
    font-size: 14px;
}

/* END HOME SECTION */


/* POWERFULL SECTION */

/* POWERFULL TOP */
.powerfull {
    background-color: #F5F8FA;
}

.powerfull-top .powerfull-top-left {
    width: 33%;
    float: left;
    margin-right: 1%;
    /* background-color: red; */
}

.powerfull-top .powerfull-top-left h1 {
    font-size: 30px;
    font-weight: 900;
    color: rgb(51, 71, 91);
    margin: 60px 0 20px;
}

.powerfull-top .powerfull-top-left p {
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    color: rgb(51, 71, 91);
}

.powerfull-top .powerfull-top-right {
    height: 350px;
    width: 66%;
    float: left;
}

.card {
    width: 100%;
    height: 80%;
    margin-top: 60px;
    background-color: #FFFFFF;
    color: rgb(51, 71, 91);
    padding: 40px 20px;
    position: relative;
    box-shadow: 0 0 20px #eaf0f6;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.02, 1.02);
}

.card img {
    vertical-align: middle;
}

.card h4 {
    display: inline-block;
    font-weight: 600;
    font-size: 22px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.card p:first-of-type {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

.card p:nth-of-type(2) {
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    margin-bottom: 20px;
}

.powerfull-top .powerfull-top-right .card p:nth-of-type(2)::after {
    content: '';
    position: absolute;
    height: 5px;
    border-bottom: 1px solid rgba(153,172,194,0.2);
    top: 4px;
    right: 20px;
    width: 70%;
}

.card #popular {
    display: inline-block;
}

.card #popular li {
    display: inline-block;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 500;
}

.card #popular li i {
    color: #FF7A59;
    margin-right: 8px;
}

.powerfull-top-right .card .single {
    position: absolute;
    right: 40px;
}

.powerfull-top-right .card .single a {
    padding: 15px 90px;
}
/* END POWERFULL TOP */

/* POWERFULL BOTTOM */
.powerfull-bottom .card {
    margin-top: 15px;
    margin-bottom: 100px;
}

.powerfull-bottom-left, .powerfull-bottom-center {
    margin-right: 2%;
}

.powerfull-bottom .powerfull-bottom-left {
    width: 32%;
    float: left;
}

.card #first li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
}

.card #first li i {
    color: #FF7A59;
    margin-right: 8px;
}

.powerfull-bottom-left .card a, .powerfull-bottom-center .card a, .powerfull-bottom-right .card a {
    display: block;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

.powerfull-bottom .powerfull-bottom-center {
    width: 32%;
    float: left;
}

.powerfull-bottom .powerfull-bottom-right {
    width: 32%;
    float: left;
}
/* END POWERFULL BOTTOM */
/* END POWERFULL SECTION */


/* LEARN SECTION */
.learn {
    background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}

.learn-bottom {
    padding-bottom: 150px;
}

.learn-titles {
    width: 65%;
    margin: auto;
    text-align: center;
}

.learn-titles h2 {
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 40px;
    padding-top: 100px;
    padding-bottom: 40px;
}

.learn-titles p {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 30px;
    margin-bottom: 80px;
}


.learn-row-item {
    width: 25%;
    height: 40%;
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 30px 50px;
}

.learn-row-item:not(:last-child) {
    border-right: 1px solid #FFFFFF;
}

.learn-row:first-child .learn-row-item {
    border-bottom: 1px solid #FFFFFF;
}

.learn-row-item img {
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.learn-row-item h2 {
    font-size: 45px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-right: 10px;
}

.learn-row-item h2::after {
    content: '+';
    display: inline-block;
    position: absolute;
    top: 30%;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
/* END LEARN SECTION*/


.stat {
    height: 1000px;
    background-color: #FFFFFF;
}

.stat .stat-top-left {
    height: 400px;
    width: 45%;
    background-color: red;
    float: left;
}

.stat .stat-top-right {
    height: 400px;
    width: 55%;
    background-color: blue;
    float: left;
}

.stat .stat-bottom-left {
    height: 600px;
    width: 55%;
    background-color: red;
    float: left;
}

.stat .stat-bottom-right {
    height: 600px;
    width: 45%;
    background-color: blue;
    float: left;
}

footer {
    background-color: #33475b;
    height: 800px;
}













